.search-btn {
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    background-image: url("../../img/search.svg");
    background-repeat: no-repeat;
    background-position: center;

    background-color: #FF3E79;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    transition: all 0.2s linear 0s;
}

.search-btn:hover {
    filter: drop-shadow(0 0 10px #41F6D7);
    transform: scale(1.1);
}