.navigation-menu {
    list-style: none;
}

.navigation-menu__item {
    margin-bottom: 32px;
}

.navigation-menu_item--active {
    color: #7E7E82;
}

.navigation-menu_item--active::before {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    height: 32px;
    margin-top: -5px;
    border-right: 8px solid #41F6D7;
    border-radius: 4px;
}