.navigation {
    display: flex;
    padding: 0;
    list-style: none;
}



.navigation__item {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center;

    margin-right: 16px;
    cursor: pointer;
    transition: all 0.2s linear 0s;
}

.navigation__item:hover {
    filter: drop-shadow(0 0 10px #41F6D7);
    transform: scale(1.1);
}

.navigation__item--icon--call {
    background-image: url("../../img/call.svg");
}

.navigation__item--icon--chat {
    background-image: url("../../img/chat.svg");
}

.navigation__item--icon--profile {
    background-image: url("../../img/profile.svg");
}

